

<table class ="table table-striped">
  <thead>
    <tr>
      <th>HistoryId</th>
      <th>History Video Link</th>
      <th>History Video Consultation Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of HistoryList">
      <td>{{dataItem.HistoryId}}</td>
      <td>{{dataItem.HistoryLink}}</td>
      <td>{{dataItem.HistoryTimestamp}}</td>
      <td>
        <button type="button" class="btn btn-light mr-1">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
