.hist {
    position: relative;
    float:left;
    
}
.videoV {
    position: absolute;
    top:130px;
    float:left;
}
.header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .header a {
    color: #fff;
    text-decoration: none;
  }

 .book{
    position:relative;
    bottom:10px;
    float: left;
  }