<div class="bookmarkcomponent">
  
  <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#exampleModal"
  (click)="addClick()">
   Add video to Bookmarks
  </button>
  

  <app-add-bookmark [book]="book" *ngIf="AddBookComp">
  </app-add-bookmark>


  <table class ="table table-striped">
    <thead>
      <tr>
        <th>Bookmark Id</th>
        <th>Bookmark Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bookmark of BookmarkList"
      [class.selected]="bookmark === selectedBookmark" (click)="onSelect(bookmark)">
        <td>{{bookmark.BookmarkId}}</td>
        <td>{{bookmark.BookmarkLink}}</td>
        <td>
          <button type="button" class="btn btn-light mr-1">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedBookmark">
    <h2>{{selectedBookmark.BookmarkLink}} details</h2>
    <div><span>id: </span>{{selectedBookmark.BookmarkId}}</div>
    <div>
      <label>URL:
        <input [(ngModel)]="selectedBookmark.BookmarkLink" placeholder="url"/>
      </label>
    </div>
</div>
